.no-connection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-connection > h1 {
  font-size: 5rem;
  color: #262626;
  margin-bottom: 20px;
}
.no-connection > #no {
  font-size: 1.5rem;
  color: #262626;
}
